@model IEnumerable<SupplierWebApp.Models.Quotation>

@{
    ViewData["Title"] = "Quotations List";
}

<h2>Quotations</h2>

<a asp-action="Create" class="btn btn-success mb-3">Add New Quotation</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Supplier Id</th>
            <th>Product</th>
            <th>CostPerUnit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quotation in Model)
        {
            <tr>
                <td>@quotation.SupplierId </td>
                <td>@quotation.Product</td>
                <td>@quotation.CostPerUnit</td>           
                <td>
                    <a asp-action="Edit" asp-route-id="@quotation.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@quotation.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

       




</table>